<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: #f0f5f5; padding: 16px;" class="p-4">
  <!-- Title Row -->
  <tr>
    <td align="center" class="p-4">
      <h2 style="font-size: 20px; color: #005555; margin: 0; font-weight: bold; padding-top: 18px;">
        Sint cupidatat occaecat ut
      </h2>
    </td>
  </tr>
  <!-- Two Cards Row -->
  <tr>
    <td align="center" class="p-4" style="padding: 20px 20px 40px 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" class="w-full">
        <tr class="w-full sm:grid sm:grid-cols-1 sm:gap-2">
          <td align="center" class="w-1/2 sm:w-full bg-white p-6 mb-6 sm:mb-0 py-4" style=" background-color: #ffffff; padding: 24px; vertical-align: top;">
            <!-- Image Placeholder -->
            <table class="pb-4" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center">
              <tr>
                <td style="padding-bottom: 17px;"><a href="#" class="pointer-events-none cursor-none no-underline;"><img src="icon-round.png" alt="icon"></a> </td>
              </tr>
            </table>
            <!-- Card Title -->
            <h3 class="text-[#005555]" style="margin: 0 0 18px; font-size: 16px; font-family: arial; font-weight: bold; ">Nisi ut ade</h3>
            <!-- Card Description -->
            <p class="text-[#444444] [font-size:14px] [font-family:Arial] [line-height:18px]" style="margin: 0;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="text-superscript relative top-sup-offset text-[9px]">1</sup>
            </p>
          </td>
          <td class="p-2" style="padding: 10px;"></td>
          <td align="center" class="w-1/2 sm:w-full bg-white p-6 mb-6 sm:mb-0 py-4" style=" background-color: #ffffff; padding: 24px; vertical-align: top;">
            <!-- Image Placeholder -->
            <table class="pb-4" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center">
              <tr>
                <td style="padding-bottom: 17px;"><a href="#" class="pointer-events-none cursor-none no-underline;"><img src="icon-round.png" alt="icon2"></a> </td>
              </tr>
            </table>
            <!-- Card Title -->
            <h3 style="margin: 0 0 18px; font-size: 16px; font-family: arial;  color: #005555; font-weight: bold;">Duis aute irure</h3>
            <!-- Card Description -->
            <p class="text-[#444444] [font-size:14px] [font-family:Arial] [line-height:18px]" style="margin: 0;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="text-superscript relative top-sup-offset text-[9px]">2</sup>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
