<table class="w-full">
  <tr>
    <td align="center" class="p-4" style="padding: 20px 20px 20px 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" class="w-full">
        <tr class="bg-white">
          <td class="align-top w-1/6 sm-w-1/2">
            <a href="#" class="pointer-events-none cursor-none no-underline"><img src="header-logo.jpg" alt="header logo"></a>
          </td>
          <!-- Text content -->
          <td class="align-top sm-w-1/2 pr-0 md:pr-6 lg:pr-12" style="padding:0px 15px 0px 15px;">
            <p class="text-gray-700 text-sm  md:pr-6 lg:pr-12 leading-5 text-[#002B2B] [font-size:14px] [font-family:Arial] [line-height:18px]">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

