<table class="w-full bg-white" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <!-- Title Row -->
  <tr>
    <td class="text-left pb-0 pt-7 p-4" style="padding: 30px 20px 0px 20px;">
      <h3 class="text-sm font-bold text-black-700 m-0 [font-size:14px] [font-family:Arial] [line-height:18px]">Ut enim ad minim:</h3>
    </td>
  </tr>
  <!-- Text Content Row -->
  <tr>
    <td class="text-left pb-0 pt-0 p-4 [font-size:14px] [font-family:Arial] [line-height:18px]" style="padding: 14px 20px 0px 20px;">
      <p class="text-sm text-black-600 [font-size:14px] [font-family:Arial] [line-height:18px]" style="margin-bottom: 15px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
      <p class="text-sm text-black-600 pb-0 [font-size:14px] [font-family:Arial] [line-height:18px]">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
    </td>
  </tr>
  <!-- Second Section Title -->
  <tr>
    <td class="text-left pb-0 pt-7 p-4" style="padding: 24px 20px 14px 20px;">
      <h3 class="text-sm font-bold text-black-700 m-0 [font-size:14px] [font-family:Arial] [line-height:18px]">Sint occaecat cupidatat:</h3>
    </td>
  </tr>
  <!-- List Row -->
  <tr>
    <td class="text-left pb-0 pt-0 pr-4" style="padding-right: 20px;">
      <ul class="list-decimal pl-8 text-sm text-black-600 pt-0 m-0 [font-size:14px] [font-family:Arial] [line-height:18px]">
        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</li>
      </ul>
    </td>
  </tr>
  <!-- Separator -->
  <tr>
    <td class="text-center" style="padding-bottom: 00px;padding-top: 10px;">
      <hr class="border-t border-black-300 w-[calc(100%-40px)]"/>
    </td>
  </tr>
  <!-- Footer Text -->
  <tr>
    <td class="text-center pt-[10px]">
      <p class="text-sm text-black-600 [font-size:14px] [font-family:Arial] [line-height:18px]" style="margin-bottom: 25px;">Sed do eiusmod tempor incididunt ut labore</p>
  
      <a href="#" class="pointer-events-none cursor-none no-underline pt-0">
        <img src="footer-logo.jpg" alt="footer logo" class=" pb-5">
      </a>
    </td>
  </tr>
</table>


